partitioner/target/
partitioner/build/
query-executor/target/
query-executor/build
partitioner/.classpath
partitioner/.project
partitioner/.settings/
query-executor/.classpath
query-executor/.project
query-executor/.settings/
